html, body {
    background-image: url("http://vignette2.wikia.nocookie.net/fictionalcrossover/images/d/df/A_Target_Dog.jpg/revision/latest?cb=20141207040829");
    margin: 20px auto;
    display: block;
    max-width: 600px;
    height: 100%;
    text-align: center;
}

body {
    padding: 20px;
    position: relative;
}
h2, a, p, *:before,h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
}
h1 {
    color: red;
}

h2 {
    color: red;
    margin-top: 0;
    font-size: 20px;
    background-color: white;
    height: 24px;
    text-align: center;
    padding: 16px;
    z-index: 15;
    border-radius: 4px;

    transition: all 2s ease-out;
}

p {
    display: block;
    width: 100%;
    color: #2c3e50;
    clear: both;
}
.description {
    margin-bottom: 50px;
    font-size: medium;
    font-weight: bolder;

}

button {
    border: 0;
    background-color: #3498db;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    transition: background-color 0.2s ease-out;


    cursor: pointer;
}

button:hover {
    background-color: red;
}
button:active, button:hover {
    outline: none;
}

a {
    color: #2c3e50;
    transition: color 0.2s ease-out;
    /*padding: 5px 10px;*/
    margin-right: 16px;
}

a:hover {
    color: #2ecc71;
}

.wrapper {
    border: 1px dashed #95a5a6;
    height: 56px;
    margin-top: 16px;
    border-radius: 4px;
    position: relative;
    font-size: 12px;
}

.wrapper p {
    line-height: 31px;
}